body.users{
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

body.adms{
  background: linear-gradient(#6c2726, #6c2726);
}

/* navigation */
.navigation{
  background: #FFFFFF;
}

/* user */
.user{
  
}

.user .alert, .adm .alert{
  margin-bottom: 40px;
}

.user .form-label-group, .adm .form-label-group{
  margin: 10px 0;
}

/* quadro */
.form-control {
  padding: .75rem 1rem;
  border-radius: 0;
}

.form-control-dark {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, .1);
  border: none;
}

.form-control-dark:focus {
  box-shadow: none;
  border-color: transparent;
  background-color: rgba(0, 0, 0, .1);
}

.quadro{
	background: #6C2726;
}

header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

/* responsive */
/* extra small */
@media all and (max-width: 576px) {
 
}

/* small */
@media all and (min-width: 576px) {

}

/* medium */
@media all and (min-width: 768px) {

}

/* large */
@media all and (min-width: 992px) {

}

/* extra large */
@media all and (min-width: 1200px) {

}